* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: serif;
}

.tabla{
    margin-top: 30px;
    }

.logo{
    width: 30%;
    height: 40%;
    }

.btn.btn-register{
    border: none;
    background-color: #f58c3a;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn.btn-register:hover{
    color: white;
    background: #1d436d;
}
